:root {
    --background-color: #191A19;
    --card-header-color: #3E065F;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--background-color);
}
nav {
    background-color: var(--background-color);

}
.container-fluid > a.navbar-brand {
    color: white;
    font-weight: 700;
}
/*ovaj deo ne radi*/
.container-fluid > a.navbar-brand :hover {
    color: #3E065F;
    font-weight: 700;
    }
.container-fluid >.nav-item> a.nav-link {
    color: white;
}
.nav-link dropdown-toggle{
    color:white;
}
/*do ovde ne radi*/
#icon-movie {
    color: white;
    font-size: 1.5rem;
}
#icon-managment {
    color: white;
    font-size: 1.5rem;
}
footer {
    text-align: center;
}
/*Movies Index*/
.card-header {
    background-color: var(--card-header-color);
    color: white;
    text-align: center;
    border-radius: 20px;
    
}
.card.mb-3 {
    max-width: 540px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}

/*Movies Details*/
.card.mb-12 {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}
.rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 10px;
}
#actor_link {
    color: #2c4e31;
    text-decoration-color: #2c4e31;
    font-weight: bold;
}
